mixin video(info)
    a(href=`/videos/${info.id}`).video-mixin
        .video-mixin__thumb
        .video-mixin__data
            span.video-mixin__title=info.title 
            .video-mixin__meta 
                span #{info.owner.name} • 
                span #{info.meta.views} 회