doctype html
html(lang="ko")
    head 
        title Yotube | #{pageTitle}
        link(rel="stylesheet" href="https://unpkg.com/mvp.css")
    body 
        header
            if testUser.loggedIn
                small Hello #{testUser.username}
            nav 
                ul
                    if testUser.loggedIn
                        li
                            a(href="/") Log out
                    else
                        li 
                            a(href="/login") Login
                        
        h1=pageTitle 

        block content 
        
    include partials/footer.pug