doctype html
html(lang="ko")
    head 
        title Wetube | #{pageTitle}
        link(rel="stylesheet" href="https://unpkg.com/mvp.css")
    body 
        h1=pageTitle 
        block content 
    include partials/footer.pug