extends base.pug

block content 
    form(method="POST")
        label Update Video
        input(name="title", placeholder="Video Title", value=video.title, required)
        input(name="description", placeholder="Description", value=video.description, type="text", minlength=1, required)
        //- input(name="hashtags", placeholder="Hashtags, separated by comma", value=video.hashtags.join(), type="text", required)

        input(value="Save", type="submit")#submit