extends base.pug
include mixins/video

block content 
    if(errorMessage)
        h2 #{errorMessage}
    form(method="POST")
        input(name="name", type="text", placeholder="Name" required)
        input(name="email", type="email", placeholder="Email" required)
        input(name="username", type="text", placeholder="Username" required)
        input(name="password", type="password", placeholder="Password" required)
        input(name="password2", type="password", placeholder="Check Password" required)
        input(name="location", type="text", placeholder="Location")
        input(type="submit", value="Join")#submit
        include partials/social-login.pug
    div.auth-switch
        span Already have an account? 
        a(href="/login") Log in now &rarr;