extends base.pug

block content 
    if(errorMessage)
        div=errorMessage
    form(method="POST")
        input(name="username", type="text", placeholder="Username" required)
        input(name="password", type="password", placeholder="Password" required)
        input(type="submit", vlaue="Login")