extends base.pug

block content
    div.upload__container
        div.record__container
            video#preview
            button#startBtn Start recording
        if(errorMessage) 
            h2 #{errorMessage}

        form(method="POST", enctype="multipart/form-data")
            label(for="video") Video File
            input(type="file", name="video", id="video", accept="video/*", required)
            label(for="thumb") Thumb File
            input(type="file", name="thumb", id="thumb", accept="image/*", required)
            input(name="title", placeholder="Title", type="text", maxlength=60, required)
            input(name="description", placeholder="Description", type="text", minlength=1, required)
            input(type="submit", value="Upload Video")#submit
            //- input(name="hashtags", placeholder="Hashtags, separated by comma", type="text", required)

block scripts
    script(src="/static/js/recorder.js")