.comment__container
  .comment-write
    #commenting-user
      span now logged in user avatar 
      span now logged in user name
    #commenting-comtent 
      textarea
      input(type="submit", value="Submit")
      // 모든 내용을 post하지 않고 코멘트 부분만 post, render

  img(src="/"+avatarUrl)#comment-avatar
  if(comment)
    #comment-user
      if(owner)
        span 작성자
      span#comment-user user name
      span#comment-date  date
      if(owner)
        span#comment-edit edit
        span#comment-delete delete 
    #comment-content comment content
